/*** Start css of #_lp_block_51471107[data-block-layout='6651']  ***/

#_lp_block_51471107[data-block-layout='6651']  {
	padding-top: 0px;
	padding-bottom: 50px;
}

/*** End css of #_lp_block_51471107[data-block-layout='6651']  ***/
/*** Start css of #_lp_block_51471307[data-block-layout='5451'] .lpc-features-7__item-icon ***/

#_lp_block_51471307[data-block-layout='5451'] .lpc-features-7__item-icon {
	background-attachment: scroll;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: transparent;
}

/*** End css of #_lp_block_51471307[data-block-layout='5451'] .lpc-features-7__item-icon ***/
/*** Start css of #_lp_block_51471307[data-block-layout='5451']  ***/

#_lp_block_51471307[data-block-layout='5451']  {
	padding-top: 40px;
	padding-bottom: 40px;
}

/*** End css of #_lp_block_51471307[data-block-layout='5451']  ***/
/*** Start css of #_lp_block_51471307[data-block-layout='5451'] .lp-block-bg ***/

#_lp_block_51471307[data-block-layout='5451'] .lp-block-bg {
	background-attachment: scroll;
	background-image: url("2584198.jpg");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
}

/*** End css of #_lp_block_51471307[data-block-layout='5451'] .lp-block-bg ***/
/*** Start css of #_lp_block_51471307[data-block-layout='5451'] .lp-block-overlay ***/

#_lp_block_51471307[data-block-layout='5451'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-color: transparent;
}

/*** End css of #_lp_block_51471307[data-block-layout='5451'] .lp-block-overlay ***/
/*** Start css of #_lp_block_51471307[data-block-layout='5451'] .lpc-features-7__content-inner ***/

#_lp_block_51471307[data-block-layout='5451'] .lpc-features-7__content-inner {
	padding-top: 20px;
	padding-left: 56px;
	padding-right: 56px;
	padding-bottom: 0px;
	margin-top: 36px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

/*** End css of #_lp_block_51471307[data-block-layout='5451'] .lpc-features-7__content-inner ***/