/*** Start css of #_lp_block_51468907[data-block-layout='11851']  ***/

#_lp_block_51468907[data-block-layout='11851']  {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*** End css of #_lp_block_51468907[data-block-layout='11851']  ***/
/*** Start css of #_lp_block_51468907[data-block-layout='11851'] .lp-block-bg ***/

#_lp_block_51468907[data-block-layout='11851'] .lp-block-bg {
	background-attachment: scroll;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}

/*** End css of #_lp_block_51468907[data-block-layout='11851'] .lp-block-bg ***/
/*** Start css of #_lp_block_51468907[data-block-layout='11851'] .lp-block-overlay ***/

#_lp_block_51468907[data-block-layout='11851'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: transparent;
}

/*** End css of #_lp_block_51468907[data-block-layout='11851'] .lp-block-overlay ***/
/*** Start css of #_lp_block_51469307[data-block-layout='1668261']  ***/

#_lp_block_51469307[data-block-layout='1668261']  {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*** End css of #_lp_block_51469307[data-block-layout='1668261']  ***/
/*** Start css of #_lp_block_51469307[data-block-layout='1668261'] .lp-block-bg ***/

#_lp_block_51469307[data-block-layout='1668261'] .lp-block-bg {
	background-attachment: scroll;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}

/*** End css of #_lp_block_51469307[data-block-layout='1668261'] .lp-block-bg ***/
/*** Start css of #_lp_block_51469307[data-block-layout='1668261'] .lp-block-overlay ***/

#_lp_block_51469307[data-block-layout='1668261'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: transparent;
}

/*** End css of #_lp_block_51469307[data-block-layout='1668261'] .lp-block-overlay ***//*** Start css of #_lp_block_51469507[data-block-layout='94651'] .lp-form-tpl__field-text ***/

#_lp_block_51469507[data-block-layout='94651'] .lp-form-tpl__field-text {
	border-top-left-radius: 169px;
	border-top-right-radius: 169px;
	border-bottom-left-radius: 169px;
	border-bottom-right-radius: 169px;
	border-color: rgba(58,71,92,1);
	border-style: solid;
	border-width: 1px;
}

/*** End css of #_lp_block_51469507[data-block-layout='94651'] .lp-form-tpl__field-text ***/
/*** Start css of #_lp_block_51469507[data-block-layout='94651'] .lp-form-tpl__button ***/

#_lp_block_51469507[data-block-layout='94651'] .lp-form-tpl__button {
	border-top-left-radius: 169px;
	border-top-right-radius: 169px;
	border-bottom-left-radius: 169px;
	border-bottom-right-radius: 169px;
	border-color: rgba(255,255,255,1);
	border-style: solid;
	border-width: 0px;
}
#_lp_block_51469507[data-block-layout='94651'] .lp-form-tpl__button:hover {
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 0px;
}
#_lp_block_51469507[data-block-layout='94651'] .lp-form-tpl__button:active {
	border-color: rgb(235, 235, 235);
	border-style: solid;
	border-width: 0px;
}

/*** End css of #_lp_block_51469507[data-block-layout='94651'] .lp-form-tpl__button ***/