/*** Start css of #_lp_block_51470507[data-block-layout='6651']  ***/

#_lp_block_51470507[data-block-layout='6651']  {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*** End css of #_lp_block_51470507[data-block-layout='6651']  ***/
/*** Start css of #_lp_block_51470507[data-block-layout='6651'] .lp-block-bg ***/

#_lp_block_51470507[data-block-layout='6651'] .lp-block-bg {
	background-attachment: fixed;
	background-image: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}

/*** End css of #_lp_block_51470507[data-block-layout='6651'] .lp-block-bg ***/
/*** Start css of #_lp_block_51470507[data-block-layout='6651'] .lp-block-overlay ***/

#_lp_block_51470507[data-block-layout='6651'] .lp-block-overlay {
	background-attachment: fixed;
	background-image: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0);
}

/*** End css of #_lp_block_51470507[data-block-layout='6651'] .lp-block-overlay ***/
/*** Start css of #_lp_block_51470707[data-block-layout='1668261']  ***/

#_lp_block_51470707[data-block-layout='1668261']  {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*** End css of #_lp_block_51470707[data-block-layout='1668261']  ***/
/*** Start css of #_lp_block_51470707[data-block-layout='1668261'] .lp-block-bg ***/

#_lp_block_51470707[data-block-layout='1668261'] .lp-block-bg {
	background-attachment: fixed;
	background-image: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}

/*** End css of #_lp_block_51470707[data-block-layout='1668261'] .lp-block-bg ***/
/*** Start css of #_lp_block_51470707[data-block-layout='1668261'] .lp-block-overlay ***/

#_lp_block_51470707[data-block-layout='1668261'] .lp-block-overlay {
	background-attachment: fixed;
	background-image: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: transparent;
}

/*** End css of #_lp_block_51470707[data-block-layout='1668261'] .lp-block-overlay ***//*** Start css of #_lp_block_51470907[data-block-layout='6651']  ***/

#_lp_block_51470907[data-block-layout='6651']  {
	padding-top: 30px;
	padding-bottom: 0px;
}

/*** End css of #_lp_block_51470907[data-block-layout='6651']  ***/
/*** Start css of #_lp_block_51470907[data-block-layout='6651'] .lp-block-bg ***/

#_lp_block_51470907[data-block-layout='6651'] .lp-block-bg {
	background-attachment: fixed;
	background-image: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}

/*** End css of #_lp_block_51470907[data-block-layout='6651'] .lp-block-bg ***/
/*** Start css of #_lp_block_51470907[data-block-layout='6651'] .lp-block-overlay ***/

#_lp_block_51470907[data-block-layout='6651'] .lp-block-overlay {
	background-attachment: fixed;
	background-image: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0);
}

/*** End css of #_lp_block_51470907[data-block-layout='6651'] .lp-block-overlay ***/