/*** Start css of #_lp_block_51471907[data-block-layout='85851']  ***/

#_lp_block_51471907[data-block-layout='85851']  {
	padding-top: 0px;
	padding-bottom: 0px;
}

/*** End css of #_lp_block_51471907[data-block-layout='85851']  ***/
/*** Start css of #_lp_block_51471907[data-block-layout='85851'] .lp-block-bg ***/

#_lp_block_51471907[data-block-layout='85851'] .lp-block-bg {
	background-attachment: scroll;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}

/*** End css of #_lp_block_51471907[data-block-layout='85851'] .lp-block-bg ***/
/*** Start css of #_lp_block_51471907[data-block-layout='85851'] .lp-block-overlay ***/

#_lp_block_51471907[data-block-layout='85851'] .lp-block-overlay {
	background-attachment: scroll;
	background-image: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: transparent;
}

/*** End css of #_lp_block_51471907[data-block-layout='85851'] .lp-block-overlay ***/
/*** Start css of #_lp_block_51471907[data-block-layout='85851'] .lpc-prods-2__button.lpc-prods-2__item-bottom-item._first-btn ***/

#_lp_block_51471907[data-block-layout='85851'] .lpc-prods-2__button.lpc-prods-2__item-bottom-item._first-btn {
	border-top-left-radius: 151px;
	border-top-right-radius: 151px;
	border-bottom-left-radius: 151px;
	border-bottom-right-radius: 151px;
	border-color: rgba(255,255,255,1);
	border-style: solid;
	border-width: 0px;
	color: rgba(255,255,255,1);
	font-size: 16px;
	text-align: center;
	text-align-last: center;
	font-weight: 400;
	text-decoration: none;
	line-height: 100%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
#_lp_block_51471907[data-block-layout='85851'] .lpc-prods-2__button.lpc-prods-2__item-bottom-item._first-btn:hover {
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 0px;
	color: rgb(255, 255, 255);
	font-size: 16px;
	text-align: center;
	text-align-last: center;
	font-weight: 400;
	text-decoration: none;
	line-height: 100%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
#_lp_block_51471907[data-block-layout='85851'] .lpc-prods-2__button.lpc-prods-2__item-bottom-item._first-btn:active {
	border-color: rgb(235, 235, 235);
	border-style: solid;
	border-width: 0px;
	color: rgb(235, 235, 235);
	font-size: 16px;
	text-align: center;
	text-align-last: center;
	font-weight: 400;
	text-decoration: none;
	line-height: 100%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

/*** End css of #_lp_block_51471907[data-block-layout='85851'] .lpc-prods-2__button.lpc-prods-2__item-bottom-item._first-btn ***/
